body {
  background: url('img/tjattvik.jpg');
  background-size: cover;
  height: 100vh;
  padding-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: rgb(60, 60, 60);
  line-height: 2rem;
}

h3 {
  font-weight: 300;
  font-style: italic;
}

img {
  align-self: center;
}

#landing-content, #chat-content {
  display: flex;
  flex-direction: column;
  min-height: 45vh;
  width: 400px;
  margin: 0 auto;
  background-color: rgb(255, 250, 250, 0.8);
  border-radius: 20px;
  padding: 40px;
}

#chat-content {
  display: none;
}

#join-chat-button {
  display: none;
  margin-top: 50px;
  font-size: 1.1rem;
  color: snow;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to top right, rgb(11, 112, 104), #3CBBC9);
  box-shadow: 3px 3px 16px darkgrey;
}

#join-chat-button:hover {
  opacity: 0.65;
  transition: opacity 0.3s linear;
}

#name {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 20px;
}

