body {
  background: url('img/tjattvik.jpg');
  background-size: cover;
  height: 100vh;
  padding-top: 100px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  margin: 20px;
}

.main-content {
  height: 70vh;
  width: 400px;
  margin: 0 auto;
  background-color: snow;
}